body{
	--lineHeight: 20px;
	--headHeight: 40px;
	--darkBkgr: #336699;
	--popUpBkgr: rgba(0,0,0,0.5);
	--inputBkgr: #D5E0EC;
	--lightBkgr: #b3cce6;
	--navMinWidth: 20px;
	--navWidth: 150px;
	--mainSpacing: 4px;
	--footerHeight: 20px;
	--border: #b3cce6;
	--lightText: #ccc;
	--mLightText: #999;
	--darkText: #001;
	--navGroup: #264c72;
	--closeColor: #e25a5a;
	--animationSpinSpead: 0.7s;
	--tableRowEven: rgba(0,0,0,0.1);
	--tableRowOdd: rgba(255,255,255,0.3);
	--disableFormElmBkgr: #fcc;
}

@-webkit-keyframes spinnerRotate
{
    from{-webkit-transform:rotate(0deg);}
    to{-webkit-transform:rotate(360deg);}
}
@-moz-keyframes spinnerRotate
{
    from{-moz-transform:rotate(0deg);}
    to{-moz-transform:rotate(360deg);}
}
@-ms-keyframes spinnerRotate
{
    from{-ms-transform:rotate(0deg);}
    to{-ms-transform:rotate(360deg);}
}
.spin{
    -webkit-animation-name: spinnerRotate;
    -webkit-animation-duration: var(--animationSpinSpead);
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spinnerRotate;
    -moz-animation-duration: var(--animationSpinSpead);
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spinnerRotate;
    -ms-animation-duration: var(--animationSpinSpead);
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
}

html, body{
	margin: 0;
	height: 100%;
	width: 100%;
	background: var(--darkBkgr);
	color: var(--darkText);
	font-family: Verdana,Geneva,sans-serif;
	font-size: 12px;
	line-height: var(--lineHeight);
}
.popUpFixedMaster{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0%;
	left: 0%;
	background: var(--popUpBkgr);
	z-index: 100;
}
.popUpFixedContainer{
	position: fixed;
	width: 80%;
	height: 80%;
	top: 10%;
	left: 10%;
	padding: 4px;
	background: var(--lightBkgr);
	box-sizing: border-box;
	border: solid 1px var(--darkBkgr);
	overflow: auto;
	z-index: 100;
}
.popUpClose{
	text-align: right
}
.popUpClose i{
	position: fixed;
	border: solid 1px var(--darkBkgr);
	cursor: default;
	padding: 2px;
	z-index: 100;
	margin-left: -20px;
	margin-top: 4px;
}
.popUpClose i:hover{
	background: var(--closeColor);
}
.logContainer{
	color: #b5e6b3;
	padding-left: 4px;
	width: -moz-calc(100% - 5px);
    width: -webkit-calc(100% - 5px);
    width: calc(100% - 5px);
	height: -moz-calc(var(--footerHeight) - 1px);
    height: -webkit-calc(var(--footerHeight) - 1px);
    height: calc(var(--footerHeight) - 1px);
	overflow: hidden;
	font-size: 80%;
	line-height: 90%;
}
.logContainer:hover{
	background: -webkit-linear-gradient(var(--darkBkgr), var(--navGroup)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(var(--darkBkgr), var(--navGroup)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(var(--darkBkgr), var(--navGroup)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(var(--darkBkgr), var(--navGroup)); /* Standard syntax */
}
.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.logContainerExpand{
	color: #b5e6b3;
	position: absolute;
	height: 50%;
	width: -moz-calc(100% - 8px);
    width: -webkit-calc(100% - 8px);
    width: calc(100% - 8px);
	overflow: auto;
	bottom: var(--footerHeight);
	background: var(--darkBkgr);
	padding: 4px;
	bottom: 0px;
}
.attention{
	color: #f00;
	display: inline-block;
}
.siteMapButton{
	padding: 0 4px;
	text-decoration: underline;
	cursor: pointer;
}
.siteMapButton:hover{
	text-decoration: none;
}
.treeBranch{
	margin: 0;
	padding: 0 0 0 var(--lineHeight);
}
.treeBranch li:before{
	content: "\f103";
    font-family: FontAwesome;
    margin-right: 2px;
}
.treeBranch li{
	list-style-position: inside;
	list-style-type:none;
}
.head{
	width: 100%;
	background: var(--darkBkgr);
	height: var(--headHeight);
	box-sizing: border-box;
	border-bottom: solid 1px var(--border);
	display: table;
	align-items: center;
	color: var(--lightText);
}
.navigation{
	height: -moz-calc(100% - var(--headHeight) - var(--footerHeight));
    height: -webkit-calc(100% - var(--headHeight) - var(--footerHeight));
    height: calc(100% - var(--headHeight) - var(--footerHeight));
	width: var(--navWidth);
	background: var(--lightBkgr);
	box-sizing: border-box;
	border-top: solid var(--mainSpacing) var(--darkBkgr);
	border-bottom: solid var(--mainSpacing) var(--darkBkgr);
	border-left: solid var(--mainSpacing) var(--darkBkgr);
	float: left;
}
.navResize{
	height: -moz-calc(100% - var(--headHeight) - var(--footerHeight));
    height: -webkit-calc(100% - var(--headHeight) - var(--footerHeight));
    height: calc(100% - var(--headHeight) - var(--footerHeight));
	width: var(--mainSpacing);
	background: var(--darkBkgr);
	box-sizing: border-box;
	float: left;
	cursor: col-resize;
}
.content{
	height: -moz-calc(100% - var(--headHeight) - var(--footerHeight));
    height: -webkit-calc(100% - var(--headHeight) - var(--footerHeight));
    height: calc(100% - var(--headHeight) - var(--footerHeight));
	width: -moz-calc(100% - var(--navWidth) - var(--mainSpacing));
    width: -webkit-calc(100% - var(--navWidth) - var(--mainSpacing));
    width: calc(100% - var(--navWidth) - var(--mainSpacing));
	background: var(--lightBkgr);
	box-sizing: border-box;
	border-top: solid var(--mainSpacing) var(--darkBkgr);
	border-bottom: solid var(--mainSpacing) var(--darkBkgr);
	border-right: solid var(--mainSpacing) var(--darkBkgr);
	float: left;
}
.footer{
	clear: both;
	width: 100%;
	height: var(--footerHeight);
	background: var(--darkBkgr);
	box-sizing: border-box;
	border-top: solid 1px var(--border);
}
#cmsHead{

}
.row{
	display: table-row;
}
.cmsTitle{
	display: table-cell;
	padding-left: 10px;
	margin: 0;
	vertical-align: middle;
}
#cmsHead i{
	display: table-cell;
	font-size: 24px;
	margin-bottom: auto;
	margin-top: auto;
	cursor: pointer;
	vertical-align: middle;
	text-align: right;
	padding-right: 10px;
	width: 30px;
}
#cmsHead i:hover{
	color: #fff;
}
.ajaxLoading{
	position: fixed;
	top: 8px;
	right: 35px;
	display: table-cell;
	font-size: 24px;
	margin-bottom: auto;
	margin-top: auto;
	vertical-align: middle;
	text-align: right;
	padding-right: 10px;
	width: 30px;
	cursor: default !important;
}
.ajaxLoading:hover{
	color: #ccc !important;
}
.logout{
	width: 60px !important;
}
.logoutMsg{
	position: fixed;
	color: #ccc;
	font-size: 24px;
	width: 200px;
	height: 30px;
	padding: 0 10px;
	text-align: center;
	top: -moz-calc(50% - 15px);
    top: -webkit-calc(50% - 15px);
    top: calc(50% - 15px);
	left: -moz-calc(50% - 100px);
    left: -webkit-calc(50% - 100px);
    left: calc(50% - 100px);
}
.navigationGroup{
	background: var(--navGroup);
	background: -webkit-linear-gradient(var(--navGroup), var(--darkBkgr)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(var(--navGroup), var(--darkBkgr)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(var(--navGroup), var(--darkBkgr)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(var(--navGroup), var(--darkBkgr)); /* Standard syntax */
	margin: 1px;
	color: var(--lightText);
	padding: 1px 0px 1px 5px;
	cursor: pointer;
}
.navigationGroup:hover{
	background: var(--darkBkgr);
	background: -webkit-linear-gradient(var(--darkBkgr), var(--navGroup)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(var(--darkBkgr), var(--navGroup)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(var(--darkBkgr), var(--navGroup)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(var(--darkBkgr), var(--navGroup)); /* Standard syntax */

}
.navigationGroupContent{
	margin: 1px;
	overflow: auto;
}
.navigationItem{
	padding: 1px 0px 1px 10px;
	cursor: pointer;
	height: var(--lineHeight);
	overflow: hidden;
}
.navigationItem i{
	font-size: 12px;
	float: right;
	padding-top: 4px;
	padding-right: 2px;
	color: var(--navGroup);
}
.navigationItem:hover{
	text-decoration: underline;
}

.tabBar{
	display: relative;
	margin: 1px 1px 0 1px;
	height: var(--tabBarHeight);
}
.tabBar i{
	color: var(--navGroup);
	cursor: default;
	display: inline-block;
	position: absolute;
	top: 0px;
	right: 1px;
	padding: 0px 1px 1px 1px;
}
.tabBar i:hover{
	background: var(--closeColor);
	color: var(--lightText);
}
.tabBar span{

}
.tab{
	background: var(--darkBkgr);
	display: inline-block;
	position: relative;
    padding: 2px 14px 2px 4px;
	box-sizing: border-box;
	margin: 0;
	cursor: default;
	border-top: solid 1px var(--darkBkgr);
	border-left: solid 1px var(--darkBkgr);
	border-right: solid 1px var(--lightBkgr);
	color: var(--lightText);
}
.tab i{
	color: var(--lightText);
}
.tab:hover{
	background: var(--navGroup);
	background: -webkit-linear-gradient(var(--darkBkgr), var(--lightBkgr)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(var(--darkBkgr), var(--lightBkgr)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(var(--darkBkgr), var(--lightBkgr)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(var(--darkBkgr), var(--lightBkgr)); /* Standard syntax */
	border-bottom: solid 1px var(--lightBkgr);
}
.tabActive{
	background: var(--lightBkgr);
	display: inline-block;
	position: relative;
    padding: 2px 14px 2px 4px;
	box-sizing: border-box;
	border-bottom: solid 1px var(--lightBkgr);
	border-top: solid 1px var(--darkBkgr);
	border-left: solid 1px var(--darkBkgr);
	border-right: solid 1px var(--darkBkgr);
	cursor: default;
}
.tabContentContainer{
	width: 100%;
	height: -moz-calc(100% - var(--lineHeight) - 9px);
    height: -webkit-calc(100% - var(--lineHeight) - 9px);
    height: calc(100% - var(--lineHeight) - 9px);
	border: solid 1px var(--darkBkgr);
	margin-top: -1px;
}
.tabContent{
	position: relative;
	margin: -1px 1px 1px 1px;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}
.gridControl{
	padding: 4px 0 0 0;
}
.gridControl a{
	background: var(--navGroup);
	background: -webkit-linear-gradient(var(--navGroup), var(--darkBkgr)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(var(--navGroup), var(--darkBkgr)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(var(--navGroup), var(--darkBkgr)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(var(--navGroup), var(--darkBkgr)); /* Standard syntax */
	border-radius: 4px;
	margin: 1px;
	color: var(--lightText);
	padding: 1px 4px 1px 4px;
	cursor: pointer;
	margin: 0 4px;
}
.gridControl a:hover{
	background: var(--darkBkgr);
	background: -webkit-linear-gradient(var(--darkBkgr), var(--navGroup)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(var(--darkBkgr), var(--navGroup)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(var(--darkBkgr), var(--navGroup)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(var(--darkBkgr), var(--navGroup)); /* Standard syntax */
}
.dataGrid{
	table-layout: fixed;
	border-collapse: collapse;
	overflow: hidden;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	width: 100px;
}
.dataGrid thead {
	color: var(--lightText);
	background-color: var(--darkBkgr);
	display: block;
}
.dataGrid thead tr {
	display: block;
	position: relative;
	white-space: nowrap;
	margin-left: 1px;
}
.dataGrid thead tr th{
	border-right: solid 1px var(--lightBkgr);
	background-color: var(--darkBkgr);
}
.dataGrid tbody tr {
	display: block;
	position: relative;
	white-space: nowrap;
}
.dataGrid tbody {
    display: block;
    overflow: auto;
	height: var(--lineHeight);
	color: var(--darkText);
	border-left: solid 1px var(--darkBkgr);
}
.dataGrid tbody tr td{
	border-bottom: solid 1px var(--darkBkgr);
	border-right: solid 1px var(--darkBkgr);
}
.dataGrid tr th:first-child{
}
.dataGrid tr td:first-child{

}
.dataGrid th,.dataGrid td{
	display: inline-block;
	text-align: left;
	padding-left: 4px;
	overflow: hidden;
	white-space: nowrap;
	width: 80px;
	z-index:9;
}
.gridFixed{
	border-bottom: solid 1px var(--lightBkgr) !important;
	border-right: solid 1px var(--lightBkgr) !important;
	color: var(--lightText);
	background-color: var(--darkBkgr);
	position: absolute;
	z-index:10;
}
.openRecord{
	cursor: default;
}
.openRecord:hover{
	background-color: var(--navGroup);
}
.recordViewContainer{
	overflow: auto;
	width: 100%;
	height: 100%;
	height: var(--lineHeight);
	height: -moz-calc(100% - var(--lineHeight));
    height: -webkit-calc(100% - var(--lineHeight));
    height: calc(100% - var(--lineHeight));
	margin: -moz-calc(var(--lineHeight) / 2) 0;
	margin: -webkit-calc(var(--lineHeight) / 2) 0;
	margin: calc(var(--lineHeight) / 2) 0;
}
.recordViewContainer h3{
	position: relative;
	padding: 0;
	background: var(--lightBkgr);
	display: table;
	font-size: 100%;
	line-height: var(--lineHeight);
	line-height: -moz-calc(2 * var(--lineHeight));
    line-height: -webkit-calc(2 * var(--lineHeight));
    line-height: calc(2 * var(--lineHeight));
	margin-bottom: var(--lineHeight);
	margin-bottom: -moz-calc(var(--lineHeight) * -1.5);
	margin-bottom: -webkit-calc(var(--lineHeight)  * -1.5);
	margin-bottom: calc(var(--lineHeight) * -1.5);
	margin-left: var(--lineHeight);
}
.recordViewBorder{
	border: solid 1px var(--darkBkgr);
	padding: 10px 4px 4px 4px;
	margin: var(--lineHeight) 0;
}
.recordView{
	width: 100%;
}
.recordView tr:nth-child(even){
	background: var(--tableRowEven);
}
.recordView tr:nth-child(odd){
	background: var(--tableRowOdd);
}
.recordView tr td{
	vertical-align: top;
}
.recordView tr td input, .recordView tr td select{
	width: 100%;
	-ms-box-sizing:content-box;
	-moz-box-sizing:content-box;
	-webkit-box-sizing:content-box;
	box-sizing:content-box;
	border: solid 1px var(--darkBkgr);
}
.recordViewDisable{
	background: var(--disableFormElmBkgr);
}


.recordView tr td:first-child{
	width: 1px;
	white-space: nowrap;
}
.cmsSelectBoxCaller{
	background: var(--lightBkgr);
	color: var(--darkText);
	cursor: default;
	width: -moz-calc(100% - 20px) !important;
    width: -webkit-calc(100% - 20px) !important;
    width: calc(100% - 20px) !important;
	padding-left: 20px;
}
.cmsSelectBoxCaller:hover{
	background: var(--darkBkgr);
	color: var(--lightText);
}
.cmsSelectBoxCaller:focus{
	background: var(--darkBkgr);
	color: var(--lightText);
}
.cmsSelectBoxIcon{
	color: var(--darkText);
	position: absolute;
	left: 6px;
	top: 2px;
	font-size: 150%;
}
.cmsSelectBox{
	position: absolute;
	background: var(--lightBkgr);
	overflow: auto;
	z-index:10;
	border: solid 1px var(--darkBkgr);
	box-sizing: border-box;
}
.cmsSelectBox ul{
	list-style: none;
	margin: 0 0 0 var(--lineHeight);
	padding: 0;
}
.cmsSelectBox li{
	cursor: default;
	margin: 0;
	padding: 0;
}
.cmsSelectBox li:before {
  content: "\f101";
  font-family: FontAwesome;
  padding: 0 10px 0 0;
}
.cmsSelectBox li:hover{
	background: var(--darkBkgr);
	color: var(--lightText);
}
.fileManager{
	height: 100%;
	width: 80%;
	border-right: solid 1px var(--darkBkgr);
	vertical-align: top;
}
.fileUploader{
	width: 20%;
	height: 100%;
	padding: 4px;
	vertical-align: top;
	position: relative;
}
.fileUploader div{
	text-align: justify;
}
.fileUploader div:after{
	content: "";
	display: inline-block;
	width: 100%;
}
.fileManagerGroup{
	display: inline-block;
	padding: 1px 5px;
	margin: 1px;
	background: var(--darkBkgr);
	color: var(--lightText);
	cursor: pointer;
}
.fileManagerGroup:hover{
	background: var(--navGroup);
	background: -webkit-linear-gradient(var(--darkBkgr), var(--lightBkgr)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(var(--darkBkgr), var(--lightBkgr)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(var(--darkBkgr), var(--lightBkgr)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(var(--darkBkgr), var(--lightBkgr)); /* Standard syntax */
}
.fileManagerGroupActive{
	display: inline-block;
	padding: 1px 5px;
	margin: 0 1px;
	background: var(--lightBkgr);
	color: var(--darkText);
	cursor: pointer;
}
.fileManagerItemContainer{
	overflow-y: scroll;
}
.fileManagerItemName{
	display: flex;
	box-sizing: border-box;
	color: var(--lightText);
	margin: var(--lineHeight) var(--mainSpacing) 0 var(--mainSpacing);
	background: var(--navGroup);
	font-weight: bold;
	padding: var(--mainSpacing);
}
.fileManagerItem{
	margin: 0 var(--mainSpacing);
	padding: var(--mainSpacing);
	border: solid 1px var(--navGroup);
}
.fileManagerItem div{
	height: auto;
}
.fileManagerItemIcon{
    float: left;
    margin-right: var(--lineHeight);
}
.iconFont{
	color: var(--darkBkgr);
    font-family: FontAwesome;
	font-size: 1500%;
	line-height: 120%;
}
.fileManagerItemProperty{
	height: line-height: 120%;
}
.fileManagerItemProperty input{
	margin-left: var(--mainSpacing);
	margin-right: var(--lineHeight);
	border: none;
	height: var(--lineHeight);
	margin-right: var(--mainSpacing);
	background: var(--inputBkgr);
	border: solid 1px var(--darkBkgr);
	box-sizing: border-box;
	padding: 0px;
}
.fileManagerItemProperty select{
	border: none;
	margin-right: var(--mainSpacing);
	background: var(--inputBkgr);
	border: solid 1px var(--darkBkgr);
	box-sizing: border-box;
}
.fileManagerItemProperty i{
	font-size: 100%;
	color: var(--darkBkgr);
	margin: 0;
	padding: 0;
	cursor: pointer;
	padding: var(--mainSpacing);
	border: solid 1px var(--darkBkgr);
}
.fileManagerItemProperty i:hover{
	background: var(--darkBkgr);
	color: var(--lightBkgr);
}
.fileManagerItemPropertyList{
	overflow: hidden;
	white-space: nowrap;
	position: relative;
	color: var(--darkText);
}
.fileManagerItemPropertyList:hover{
	color: var(--mLightText);
}
.fileManagerItemPropertyList span{
	font-size: 80%;
	margin-right: var(--mainSpacing)
}
.fileManagerItemPropertyList h5{
	font-size: 100%;
	display: inline;
}
.fileManagerItemPropertyList i{
	background: var(--lightBkgr);
    border: solid 1px var(--darkBkgr);
    cursor: default;
    font-size: 120%;
    padding: 2px;
    position: absolute;
    right: 5px;
}
.fileManagerItemPropertyList i:hover{
	color: var(--closeColor);
}
.fileManagerUploadBtn{
	width: 80%;
	left: 5%;
	text-align: center;
	background: var(--darkBkgr);
	color: var(--lightText);
	cursor: pointer;
	display: block;
	border: solid 1px var(--darkBkgr);
	position: absolute;
	bottom: 5px;
}
.fileManagerUploadBtn:hover{
	background: var(--lighBkgr);
	color: var(--darkText);
}
.fileManagerUploadProgress{
	width: 100%;
	left: 0;
	background: #0c0;
	display: block;
	position: absolute;
	bottom: 6px;
	height: var(--lineHeight);
}
.calendarContainer{
	background: var(--lightBkgr);
    position: absolute;
    z-index: 100;
	border: solid 1px var(--darkBkgr);
	display: none;
}
.calendarMonth{
	display: inline-block;
	text-align: center;
}
.calendarYear{
	display: inline-block;
	text-align: center;
}
.calendarControll{
	display: inline-block;
    font-size: 2em;
    line-height: 0.6em;
    overflow: hidden;
    padding: 0;
    text-align: center;
    cursor: pointer;
}
.calendarControll:hover{
	color: var(--darkBkgr);
}
.calendarDay{
	display: inline-block;
	margin: 1px;
	border: solid 1px var(--darkBkgr);
	text-align: center;
	cursor: default;
}
.calendarDay:hover{
	background: var(--darkBkgr);
	color: var(--lightText);
}
.calendarDisable{
	background: #666;
	color: #ccc;
}