html, body{
	height: 100%;
	width: 100%;
	overflow: hidden;
}
.login{
	border: solid 1px #666;
	position: fixed;
	left: 50%;
	top: 50%;
	margin: -130px 0 0 -180px;
	padding: 30px;
	color: #35205c;
	width: 300px;
	height: 200px;
}
.loginRow{
	width: 100%;
}
.loginCell{
	margin-bottom: 5px;
	width: 100%;
}
.loginBtn{
	text-align: right;
	margin-top: 5px;
}
.loginBtn a{
	text-decoration: none;
	background: #3f4478;
	color: #eee;
	padding: 1px 7px;
}
.loginBtn a:hover{

}
.loginMsg{
	margin-top: 10px;
	color: #c66;
}