.idea
.web-server-pid
/composer.lock
/nohup.out
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!/var/tmp
/var/tmp/*
!var/tmp/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/node_modules
/web/css
/web/js
/web/fonts
/web/images
/app/Resources/assets/rev-manifest.json
!/app/Resources/imageUpload
/app/Resources/imageUpload/*
!/app/Resources/documents/application
/app/Resources/documents/application/*