{% extends 'base.html.twig' %}

{% block title %}
    {% trans from "home" %}title{% endtrans %}
{% endblock %}

{% block meta_og_description %}
    {% trans from "home" %}meta.og.description{% endtrans %}
{% endblock %}

{% block meta_description %}
    {% trans from "home" %}meta.description{% endtrans %}
{% endblock %}

{% block body %}
    <div class="container">
        {% include 'block/header.html.twig' %}
    </div>
{% endblock %}
